fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
pydantic
pydantic-settings
cloudinary
httpx
pillow
reportlab
python-docx
PyPDF2
pdfplumber
aiofiles
slowapi
structlog
email-validator
openai
